.ag-center-cols-container {
    width: auto !important;
}

.board__form {
    width: 1000px;
    box-shadow: 0px 0px 6px 2px black;
    background: #525252;
    padding: 20px 30px;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
}